{% extends "base.html" %}

{% load mezzanine_tags rating_tags comment_tags drum_tags future %}

{% block meta_description %}{% metablock %}{{ object.description }}{% endmetablock %}{% endblock %}
{% block meta_title %}{{ object.title }}{% endblock %}
{% block title %}

<div class="link-item clearfix"> <!--每个条目-->
    {% if not profile_user %}{% rating_for object %}{% endif %}<!--rating_for用来排序的-->
    <div class="link-detail{% if object.rating_sum < 0 %} link-negative{% endif %}"><!--小于0的话给出其他样式-->
        <h2>
            <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
            {# <span class="domain">({{ link.domain }})</span> #}<!--链接-->
        </h2>
        <span class="pull-right">{% include "include/baidushare.html" %}</span>
        <blockquote>by <a  href="{% url "profile" object.user.username %}">{{ link.user.profile }}</a>
        {{ link.publish_date|timesince }} 之前 </blockquote>
        



<!-- 多说js加载开始，一个页面只需要加载一次 获取评论数-->
    </div>
</div>
{% endblock %}

{% block main %}
<div class="link-view">
    <p class="description">{{ object.description }}</p>
    
</div>
<hr>
  

 

<h3><button class="btn btn-primary">伙委会</button>的答复：</h3>
<hr>
{% comments_for object %}

{% include "include/duoshuo.html" %}

{% endblock %}
